<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Quotes</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <h1>All Quotes</h1>

    <% if(user){ %>
        <p>user <%= user.username %></p>
    <% } %>

    <% allQuotes.forEach((oneQuote)=>{ %>
        <div>
            <p>Quote: <%= oneQuote.quote %></p>
            <p>Category: <%= oneQuote.category.name %></p>
            <p>Author: <%= oneQuote.authors %></p>


                <a href="/quotes/<%= oneQuote._id %>">See Quote</a>
            
        </div>
    <% }) %>
</body>
</html>