<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Details</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Quote Details</h1>

    <p>Quote: <%= quoteDetails.quote %></p>
    <p>Author: <%= quoteDetails.authors %></p>
    <p>Category: <%= quoteDetails.category.name%></p>
    

    <br>
    <br>
    <hr>
    <h3>Why Do you like it</h3>

<% if (!quoteDetails.reason || quoteDetails.reason.length === 0) { %>
    <form action="/quotes/<%= quoteDetails._id %>/reason" method="post">
        <label for="creator">Name: </label>
        <input type="text" name="creator" id="creator">

        <label for="content">Your Reason: </label>
        <input type="text" name="content" id="content">

        <button type="submit">Submit Reason</button>
    </form>
<% }else{ %>
    <% quoteDetails.reason.forEach((oneReason)=>{ %>
        <p>Reason: <%= oneReason.content %></p>
        <p>By <%= oneReason.creator %></p>
    
    <% }) %>
<% } %>
    <form action="/quotes/<%= quoteDetails._id %>?_method=DELETE" method="post">
        <button type="submit">Delete the quote</button>
    </form>
</body>
</html>